// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.5rem;
$line-height-base: 1.6;

//defind color
$bg-dark: #343a40 !default;
$bg-primary: #0d5305 !default;